.hero{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color:var(--text);
}

.hero h1{
    color:var(-text);
}

.hero p{
    color:var(--text-secondary);
}

.hero span{
    color:var(--primary);
}
