.navbar{
position: fixed;
top: 0;
left: 0;
width: 100%;

display: flex;
justify-content: space-between;
align-items: center;

padding: 25px 10%;

z-index: 1000;
}

.logo h2{
    color:var(--text);
    font-size: 28px;

}

.logo span{
    color:var(--primary);
}

.nav-links{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a{
    color:var(--text-secondary);
    text-decoration: none;
    transition:var(-transition)
}

.nav-links a:hover{
    color:var(--primary);
}

.menu-icon{
 color: var(--text);
 font-size: 28px;
 cursor: pointer;   
}